nav-menu {
  color: blue;
  align-items: left;
}

link {
  text-decoration: none;
  color: rgb(12, 8, 79);
  font-size: 20px;
  margin: 0 10px;
}

Header,
Footer {
  background-color: #e7750a;
  padding: 20px;
  text-align: center;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 30%;
}
